html body{
  background-color: rgb(254,253,240);
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

div {
  overflow-y:auto;
}

.form-group {
  border-radius: 5px;
  padding: 20px;
	overflow-y: scroll;
}

footer{
  min-height:90px;
  position:static;
}
